@import "../../assets/styles/variables";

.window-wrapper {
  padding: 31px 41px 40px 42px;
}

.window-title {
  font-family: $basic-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  text-align: center;
}

.window-annotation {
  @include annotation;
  margin-top: 20px;
  text-align: justify;
}

.window-input-wrapper {
  max-width: 280px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.window-result {
  margin-top: 20px;
  font-family: $basic-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  display: flex;
  justify-content: center;
  text-align: center;
}

.window-button-wrapper {
  max-width: 280px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
