<app-header></app-header>
<br>
<br>

<app-footer></app-footer>
<br>
<br>

<!--<div class="button-wrapper">-->
<!--  <app-button [size]="'s'" [type]="'ghost'" title="каталог slim"></app-button>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->

<!--<div class="input-wrapper">-->
<!--  <app-input [placeholder]="'Введите имя питомца'"></app-input>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->

<!--<div class="input-icon-wrapper">-->
<!--  <app-input-icon></app-input-icon>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
