<tui-root>
<app-header></app-header>
<br>
<br>

<div class="card-wrapper">
  <app-necessity *ngFor="let card of necessityCards;"
                 [titleButton]="card.titleButton"
                 [titleCard]="card.titleCard"
                 [imagePath] = "card.path"
                 [descriptionCard]="card.descriptionCard"
  ></app-necessity>
</div>
<br>
<br>
<div class="button-wrapper">
  <app-button [size]="'s'"
              [type]="'green'"
              (clicked)="onClickPopUp()"
              title="Рассчитать вес"
  ></app-button>
</div>

<br>
<br>

<!--<div class="input-wrapper">-->
<!--  <app-input [placeholder]="'Введите имя питомца'"></app-input>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->

<!--<div class="input-icon-wrapper">-->
<!--  <app-input-icon></app-input-icon>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->

</tui-root>
