.button-wrapper {
  width: 165px;
}

.input-wrapper {
  width: 575px;
}

.input-icon-wrapper {
  width: 575px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6.5% ;
  margin-left: 110px;
  margin-right: 110px;
}
