$green: #68B738;
$green-2: #5EAA2F;
$white: #FFFFFF;
$grey: #F2F2F2;
$dark-grey: #444444;
$grey-2: #EBEBEB;
$black: #000000;
$special-grey: #CDCDCD;
$special-grey-2: #BABABA;
$special_dark-grey-2: #222222;
$special-grey-3: #E7E7E7;
$red: #FF8282;
$black-2: #111111;
$grey-3: #D9D9D9;


$basic-font: 'Oswald', sans-serif;

@mixin annotation {
  font: {
    family: Arial, sans-serif;
    weight: 400;
    size: 16px;
  }
  line-height: 24px;
  color: $dark-grey;
  @media(max-width: 544px) {
    font-size: 14px;
  }
}
