@import "../../../assets/styles/variables";

.checkbox-wrapper {
  display: flex;
}

input:checked,
input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox-element {
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: -2px;
    top: -9px;
    width: 40px;
    height: 40px;
    border: 1px solid $special-grey;
    background-color: $white;
  }
}

.checkbox-wrapper:hover {
  .checkbox-element:before {
    border: 1px solid $special-grey-2;
  }
}

.checkbox-element:checked,
.checkbox-element:not(:checked) {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 13px;
    top: 4px;
    width: 15px;
    height: 9px;
    border-radius: 1px;
    border-left: 2px solid $green;
    border-bottom: 2px solid $green;
    -webkit-transform: rotate(-49deg);
    -moz-transform: rotate(-49deg);
    -o-transform: rotate(-49deg);
    -ms-transform: rotate(-49deg);
    transform: rotate(-49deg);
  }
}

.checkbox-text {
  position: relative;
  margin-left: 59px;
  cursor: pointer;
  font-family: $basic-font;
  font-size: 20px;
  text-transform: uppercase;
  color: $black;
}

input[type="checkbox"]:not(:checked) + .checkbox-element:after{
  opacity: 0;
}

input[type="checkbox"]:checked + .checkbox-element:after{
  opacity: 1;
}

